{#
  Template para renderizar o formulário de upload de arquivo Excel.
  Arquivo: modules/custom/teste/templates/teste-excel-upload-form.html.twig
#}

<div class="excel-upload-form">
  {{ form }}
</div>